<h2 class="address_title">Todo lists</h2>

<% if @addresses.empty? %>
  <p class="address_sub_title">No lists yet. Create one using the button bellow...</p>
<% end %>

<% @addresses.each do |address| %>
  <div class="index_row clearfix">
    <h2 class="address_title"><%= link_to address.title, address %></h2>
    <p class="address_sub_title"><%= address.description %></p>
  </div>
<% end %>

<div class="links">
  <span class="dummy"></span>
  <%= link_to "New Address", new_address_path %>
  <span class="dummy"></span>
</div>
